@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bgColor: #172554;
}

@media (prefers-color-scheme: dark) {
  :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ffffff;
  background: var(--bgColor);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  color: inherit;
  text-decoration: none;
}